@layer components {
	.table-wrapper {

		@apply max-w-full overflow-x-auto my-4;

		table {
			@apply w-full border-collapse;
		}
		
		th, td {
			@apply py-2 px-4 min-w-30;
		}

		th:first-of-type {
			border-top-left-radius: var(--radius-sm);
		}
		th:last-of-type {
			border-top-right-radius: var(--radius-sm);
		}
		tr:last-of-type td:first-of-type {
			border-bottom-left-radius: var(--radius-sm);
		}
		tr:last-of-type td:last-of-type {
			border-bottom-right-radius: var(--radius-sm);
		}
		
		thead {
			@apply font-semibold text-sm text-left align-top;
		}
		
		tbody {
			
			font-family: "Inter", sans-serif;
			
			tr {
				@apply not-last:border-b-1 border-grey-30 hover:bg-grey-10;
				/*&:nth-child(odd) {*/
				/*	@apply bg-grey-10;*/
				/*}*/
			}
		}
	}
}
