@layer components {
	.tabs {
		@apply flex flex-wrap relative overflow-hidden mt-4;
		
		.tabs-label {
			@apply cursor-pointer px-6 py-2 z-20 text-ink-light flex items-center border-1 border-gray-200 -mb-[1px];
			&:not(:nth-of-type(1)) {
				margin-left: -1px;
			}
			
			&:hover {
				@apply border-b-1 border-b-black text-black bg-gray-100;
			}
		}
		
		.tabs-input {
			@apply opacity-0 absolute;
		}
		
		.tabs-content {
			@apply w-full order-99 border-1 border-gray-200 px-6 z-0 hidden pb-6 pt-2;
		}
		
		.tabs-input:checked+.tabs-label+.tabs-content {
			@apply block;
		}

		.tabs-input:checked+.tabs-label, 
		.tabs-label:active {
			@apply border-b-1 border-b-blue-elastic text-blue-elastic;
		}

		.tabs-input:focus-visible+.tabs-label {
			outline: var(--outline-size) var(--outline-style) var(--outline-color);
			outline-offset: var(--outline-offset, var(--outline-size));
		}
	}
}
