.markdown-content {
	
	font-size: 16px;

	h1 {
		@apply text-4xl text-ink-dark font-semibold;
		line-height: 1.2em;
		letter-spacing: -0.04em;
	}
	
	h2 {

		@apply text-2xl text-ink-dark font-bold mt-10;
		line-height: 1.2em;
		letter-spacing: -0.02em;
	}
	
	h3 {
		@apply text-xl text-ink-dark font-bold mt-8;
		line-height: 1.2em;
		letter-spacing: -0.02em;
	}

	h4 {
		@apply text-base text-ink-dark font-bold mt-8;
		line-height: 1.2em;
		letter-spacing: -0.02em;
	}

	h5 {
		@apply text-sm text-ink-dark font-bold mt-8;
		line-height: 1.2em;
		letter-spacing: -0.02em;
	}

	h6 {
		@apply text-xs text-ink-dark font-bold mt-8;
		line-height: 1.2em;
		letter-spacing: -0.02em;
	}
	
	h1, h2, h3, h4, h5, h6 {
		@apply font-sans;
		a {
			@apply font-sans text-ink-dark hover:text-ink-dark no-underline;
		}
	}
	
	p {
		@apply font-body text-base text-ink mt-4;
		letter-spacing: 0;
		line-height: 1.5em;
		text-wrap: pretty;
	}
	
	a {
		@apply font-body text-blue-elastic hover:text-blue-800 underline;
	}
}
