@inherits RazorSlice<LayoutViewModel>
<head>
	<title>@Model.Title</title>
	<link rel="stylesheet" type="text/css" href="@Model.Static("styles.css")"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="@(Model.AllowIndexing ? "index, follow" : "noindex, nofollow")">
	<meta name="htmx-config" content='{"scrollIntoViewOnBoost": false, "selfRequestsOnly": true}'>

	<meta property="og:type" content="website"/>
	<meta property="og:title" content="Elastic Docs v3"/>
	<meta name="twitter:card" content="summary"/>
</head>
